
  <div class="well form-horizontal">
    <fieldset>
      <legend>
        <center>
          <h2><b>Kayıt Ol</b></h2>
        </center>
      </legend><br>
      <%= render 'form' %>
    </fieldset>
  </div>
