
  <div class="well form-horizontal">
    <fieldset>
      <legend>
        <center>
          <h2><b>Kayıt Ol</b></h2>
        </center>
      </legend><br>
      <%= render 'form', user: @user %>
      <%= link_to 'Geri', users_path , class:"btn btn-default "%>
    </fieldset>
  </div>
