<div class="panel panel-default">
    <div class="panel-body">
      <h1>Çözüm Ekle</h1><br>
      <%= render 'form'  %>
      <%= link_to 'Geri', solutions_path ,  class:"btn btn-default"%>
    </div>
</div>
